<footer>
    <div class="container mt-5 text-center">
      <div class="row">
        <div class="col">
          <p class="footer-text" style="font-size: 1.1rem;">Code of Conduct</p>
        </div>
        <div class="col">
          <p class="footer-text" style="font-size: 1.1rem;">Privacy Policy</p>
        </div>
        <div class="col">
          <p class="footer-text" style="font-size: 1.1rem;">Terms and Conditions</p>
        </div>
      </div>
  </footer>
  
  
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </body>
  </html>